{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Serie 2
{% endblock %}

{% block content %}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-g1fv{background-color:#333333;color:#ffffff;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0449{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-g1fv">Alternativa</th>
    <th class="tg-0449" colspan="2">Lotería A</th>
    <th class="tg-0449" colspan="2">Lotería B</th>
  </tr>
  <tr>
    <td class="tg-fymr">15</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">54 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">16</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">56 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">17</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">58 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">18</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">60 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">19</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">62 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">20</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">65 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">21</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">68 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">22</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">72 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">23</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">77 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">24</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">83 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">25</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">90 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">26</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">100 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">27</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">110 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">28</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">130 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
</table>

<br>

<!-- <label for="slider" class="form-label">Mueva el deslizador para escoger el numero de loterias para A como para B</label>

<input type="range" style='width:500px;' class="form-range" id="slider" min = '0' step = '0.001' max = '14' oninput="{
  choice_A.innerText = (this.value != '0') ? parseInt(this.value) : 'Ninguna'
  choice_B.innerText = (parseInt(this.value)+1 != 15) ? parseInt(this.value)+1 : 'Ninguna' }" onchange="sombrear()">

<p></p>
<label>Escojo la lotería A desde la opción 1 hasta la opción:</label>
<label><strong id = 'choice_A'></strong></label>
<label> y Escojo la lotería B desde la opción:</label>
<label><strong id = 'choice_B'></strong></label> -->

<label for="choices_A">Escojo la lotería A desde la opción 1 hasta la opción:</label>
  
<select name="choices_A" id="slider" onchange="{
  sombrear()
  choice_B.innerHTML = (parseInt(this.value) + 1 == 29) ? 'Ninguna' : parseInt(this.value) + 1 }">
  <option value="-1">-------</option>
</select>

<label for="choices_B">Escojo la lotería B desde la opción:</label>
<label id = 'choice_B'></label>
  
<p></p>

{% next_button %}

<input name = 'first_choice_2' id = 'first_choice_2' hidden>
<input name = 'second_choice_2' id = 'second_choice_2' hidden>

<script>

  var backend_choices_A = {{ form.first_choice_2.choices }};

  for (let i of backend_choices_A)
  {
    let new_option = document.createElement('option');
    new_option.value= i[0];
    new_option.innerHTML= i[1];
    
    document.getElementById('slider').appendChild(new_option);
  }

  function sombrear()
  {
    const selected_value_A = document.getElementById('slider').value;
 
    document.getElementById('first_choice_2').value = parseInt(selected_value_A);
    paint(1,selected_value_A-14,'rgb(250, 223, 174)','A')
  
    document.getElementById('second_choice_2').value = parseInt(selected_value_A) + 1;
    paint(parseInt(selected_value_A)+1-14,14,'rgb(250, 223, 174)','B')
    
  }

  // orange: 'rgb(250, 223, 174)'
  function paint(start,end,color,lottery)
  {

    let table = document.getElementsByTagName('table')[0];
    let list_td = table.getElementsByTagName('tr');
    //cleaning the color

    if (lottery == 'A')
    {
      for (let td = 1; td < list_td.length; td ++)
      {
        let first = list_td[td].getElementsByTagName('td')[1];
        let second = list_td[td].getElementsByTagName('td')[2]; 

        first.style.backgroundColor = "white";
        second.style.backgroundColor = "white";
      }
      
      // assigning the color
      for (let td = start ; td <= end; td ++ )
      {
        let first = list_td[td].getElementsByTagName('td')[1];
        let second = list_td[td].getElementsByTagName('td')[2]; 

        first.style.backgroundColor = color;
        second.style.backgroundColor = color;
        
      }
    }else
    {
      for (let td = 1; td < list_td.length; td ++)
      {
        let first = list_td[td].getElementsByTagName('td')[3];
        let second = list_td[td].getElementsByTagName('td')[4]; 

        first.style.backgroundColor = "white";
        second.style.backgroundColor = "white";
      }
      
      // assigning the color
      for (let td = start ; td <= end; td ++ )
      {
        let first = list_td[td].getElementsByTagName('td')[3];
        let second = list_td[td].getElementsByTagName('td')[4]; 

        first.style.backgroundColor = color;
        second.style.backgroundColor = color;
        
      }
    }

  }
  
</script>


{% endblock %}